*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* FONTS */

.inter-tight-header {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-transform: capitalize;
}




/* BODY */

body{
    background-color: #000;
}




/* MOBILE SCREEN */

.mobile-wrap{
    height: 100vh;
    position: relative;
}

.mobile-screen{
    background-color: #fff;
    padding: 15px 12px 0 12px;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

/* header{
    background-color: red;
} */

h1{
    font-size: 30.3vw;
    line-height: 24vw;
    letter-spacing: -4px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}








/* BREAKPOINTS */

@media (min-width: 420px){

    /* header{
        background-color: green;
    } */

    .mobile-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-screen{
        width: 375px;
        height: 812px;
        border-radius: 10px;
    }

    h1{
        font-size: 113px;
        line-height: 90px;
    }





}